:root {
    --primary-color: #0a3d62;
    --secondary-color: #62b6cb;
    --accent1-color: #031925;
    --accent2-color: #bee9e8;
    --heading-font: Georgia, serif;
    --body-font: Arial, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body{
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--accent2-color);
}

header, main, footer{
    width: 840px;
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px;
    color: white;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    font-family: var(--heading-font);
    color: whhite;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
}

.hero article img {
    float: right;
    width: 100px;
    margin-left: 10px;
}

.history {
    border: 1px solid black;
    padding: 15px;
    margin-top: 20px;
}

.history h2 {
    text-align: center;
    margin-bottom: 10px;
    font-family: var(--heading-font);
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    gap: 10px;
    align-items: center;
}

.adventures {
    margin-top: 20px;
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

.adventures h2 {
    margin-bottom: 10px;
    font-family: var(--heading-font);
}

.adventures figure {
    display: inline-block;
    margin: 10px;
}

.adventures img {
    width: 150px;
}


footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--secondary-color)
}

.socialmedia img{
    width: 40px;
}


