:root {
    --primary-color: darkblue;
    --text-light: white;
    --text-dark: #333;
    --background-light: #eee;

    --border-color: black;
    --border-light: rgb(0 0 0 / 0.2);

    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 20px;

    --image-small: 150px;
    --image-medium: 200px;
}


nav {
    background-color: var(--primary-color);
    padding: var(--spacing-small);
}

nav a {
    color: var(--text-light);
    display: block;
    padding: var(--spacing-large);
}

h1 {
    color: var(--primary-color);
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid var(--border-light);
    padding: 1rem;
    background-color: var(--background-light);
    color: var(--text-dark);
    text-align: center;
}

aside img {
    width: var(--image-medium);
    height: auto;
}

main img {
    width: var(--image-small);
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {
    margin-top: var(--spacing-medium);
    border-top: 1px solid var(--border-color);
    text-align: center;
}