/* The main container stying */
.callout {
    max-width: 400px; /* This limits width 400px */
    margin: 10px; /* this makes space outside the box */
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 15px; /* this makes space inside the box */
    background-color: #247; /* Dark blue backround */
    color: #fff; /* White text */

}

.callout img {
    float: right;
    margin: 0 0 10px 15px;
    border: 1px solid #000;
    padding: 3px;
    background-color: #bbb;
    width: 150px;
    height: auto;

}


blockquote {
    margin: 0;
}


cite {
    display: block;
    border-top: 1px dotted #fff;
    padding-top: 3px;
    text-align: right;
    font-size: smaller;
}